<!DOCTYPE html>
html
    head
        title 代理商管理
        meta(charset="utf-8")
        link(href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
    body
        h2 代理商管理
        .panel.panel-default
            table.table
                tr 
                    th 代理商
                    th 添加时间
                    th 代理商链接
                    th 下单类型
                    th 代理商手机号(仅收短信用)
                    th(width="210px") 代理商二维码
                    th 操作
                each i in list
                    tr 
                        td #{i.name}
                        td #{i.create_date}
                        td #{i.link}
                        td #{i.order_type}
                        td #{i.phone}
                        td.qrcode(data-link=`${i.link}`) 
                        td
                            a(href="javascript:;" class="edit-agent" data-phone=`${i.phone}` data-info=`${i.info}` data-name=`${i.name}` data-id=`${i._id}` data-toggle="modal" data-target="#exampleModal") 编辑
                            | &nbsp;|&nbsp;
                            a(href="javascript:;" class="del-agent" data-id=`${i._id}`) 删除
        button.btn.btn-primary(type="button" data-toggle="modal" data-target="#exampleModal") 添加代理商
        
        .modal.fade(id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel")
            .modal-dialog(role="document")
                .modal-content
                    .modal-header
                        button.close(type="button" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") &times;
                        h4.modal-title(id="exampleModalLabel") 添加代理商
                    .modal-body
                        form
                        input.user-id(type="hidden")
                        .form-group
                            label.control-label 代理商名称:
                            input.form-control.name(type="text")
                        .form-group
                            label.control-label 描述信息:
                            textarea.form-control.info
                        .form-group
                            label.control-label 代理商电话(发送短信提醒用):
                            textarea.form-control.phone
                    .modal-footer
                        button.btn.btn-default(type="button" data-dismiss="modal") 关闭
                        button.btn.btn-primary.submit(type="button") 确定
        script(src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js")
        script(src="https://cdn.staticfile.org/jquery.qrcode/1.0/jquery.qrcode.min.js")
        script(src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
        script(src="/static/js/agents.js")
