<!DOCTYPE html>
html
    head
        title #{agentName}
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
        link(href="/static/style/common.css" rel="stylesheet")
        link(href="/static/style/order.css" rel="stylesheet")
    body
        .show-guide 请点击右上角，选择“收藏”，方便下次访问！
        img#logo(src="/static/img/logo.jpg?2")
        article.agent-info
            h2 #{agentName}
            p #{agentInfo}
            p 欢迎访问“鲁道夫”平台，感谢您对我们的支持！您所扫码为：鲁道夫净化#{agentName}，请您放心下单。
            br
            p 鲁道夫净化源自德国，始终致力于解决人居环境中因装修带来的危害，我们将真情为您做好每一步服务。
            br
            p 为督促“鲁道夫净化”全国服务商更好的为您服务，请您尽可能对我们的服务做出评价。
        
        .links
            a.go-comment(href=`/order/now?agent=${agentName}`) 现场下单
            a.go-comment(href=`/order/before?agent=${agentName}`) 预约下单
            a.go-comment(href="/user/say") 服务评价
        p.addr
            | 鲁道夫净化运营中心
            br
            | 全国服务热线：4008951617
            br
            | 总部地址：北京市朝阳区住邦2000三号楼。
        .ft
            p.copy-right
                | &copy;2018 鲁道夫净化
    script(src="/static/js/lib/zepto.min.js")
    script(src="/static/js/order.js")
