<!DOCTYPE html>
html
    head
        title #{agentName}
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
        link(href="/static/style/common.css" rel="stylesheet")
        link(href="/static/style/order.css" rel="stylesheet")
    body
        .show-guide 请点击右上角，选择“收藏”，方便下次访问！
        img#logo(src="/static/img/logo.jpg?2")
        article.agent-info
            h2 #{agentName}
            p #{agentInfo}
            p 鲁道夫品牌（中国区）运营总部。鲁道夫品牌净化治理工程服务总部。你所扫描为：#{agentName}。鲁道夫品牌中国区总部。亲您放心下单。德国鲁道夫与青岛邦美净就环境治理净化产品、市场开拓形成战略合作。始终致力于解决室内环境装修污染带来的危害。我们将真诚为您做好每一步服务。  为督促“鲁道夫”品牌全国服务商更好的为您服务，请您对我们的服务做出评价。
            br
            p 德国鲁道夫成立于1922年，遍布世界22家企业和41个业务代表处，总部位于GERETARIED,2003年荣获德国质量大奖与环保贡献大奖，历经无数国际环境危机。“鲁道夫”净化品牌的市场开拓与技术维护由青岛邦美净环保科技有限公司执行。
            br
            p 2014年开始，德国鲁道夫与青岛邦美净就环境治理净化产品、市场开拓形成战略合作。现共同推进代表德国鲁道夫（RUDOLF）生态环境最高技术的最新，“身边的生态修复工程项目”，以“三阶芳治”最新理念修复技术和配套开发的产品作为支撑，革命性的去伪存真，为中国环境健康产业注入一股清流。严谨的大企业作风、负责任的市场态度和可靠高效的轻装产品，赢得了市场的高认可度和国内便利发展的支持政策。
            br
            p “鲁道夫”品牌愿携手中国励志环保产业发展的投资人，由“身边的生态修复工程项目”合作开始，共同完成“鲁道夫品牌的生态系统”缔造终极使命，做中国一流环境健康服务提供商。
            br
        
        .links
            a.go-comment(href=`/order/now?agent=${agentName}`) 现场下单
            a.go-comment(href=`/order/before?agent=${agentName}`) 预约下单
            a.go-comment(href="/user/say") 服务评价
        p.addr
            | 鲁道夫品牌（中国区）运营总部
            br
            | 全国服务热线：400-895-1617
            br
            | 监督投诉热线：010-85867618
            br
            | 地址：北京市朝阳区八里庄西里98号
        .ft
            p.copy-right
                | &copy;2018 鲁道夫净化
    script(src="/static/js/lib/zepto.min.js")
    script(src="/static/js/order.js")
